# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
.swiftpm/xcode/package.xcworkspace
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.xccoverage
*.gcda
*.gcno
*.profdata

# Playground
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.swp
*.tmp
*.DS_Store

# AppCode
.idea/

# User-specific files
*.iml
*.hmap